{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "Katapult Core API",
    "description": "Welcome to the documentation for the Katapult Core API"
  },
  "servers": [
    {
      "url": "https://api.katapult.io/core/v1"
    }
  ],
  "paths": {
    "/data_centers": {
      "get": {
        "operationId": "get:data_centers",
        "tags": [
          "Core"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Provides a full list of all data centers",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data_centers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetDataCenters200ResponseDataCenters"
                      }
                    }
                  },
                  "required": [
                    "data_centers"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/data_centers/:data_center": {
      "get": {
        "operationId": "get:data_center",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "data_center[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'data_center[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "data_center[permalink]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'data_center[]' params are mutually exclusive, only one can be provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Provide details for a specific data center",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data_center": {
                      "$ref": "#/components/schemas/GetDataCenter200ResponseDataCenter"
                    }
                  },
                  "required": [
                    "data_center"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/DataCenterNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/data_centers/:data_center/default_network": {
      "get": {
        "operationId": "get:data_center_default_network",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "data_center[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'data_center[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "data_center[permalink]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'data_center[]' params are mutually exclusive, only one can be provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Provide details of default network for a data center",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "network": {
                      "description": "The details for the requested network",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/GetDataCenterDefaultNetwork200ResponseNetwork"
                        }
                      ]
                    }
                  },
                  "required": [
                    "network"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/DataCenterNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "operationId": "get:organizations",
        "tags": [
          "Core"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "This will return a list of all organizations the authenticated identity has access to",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "organizations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetOrganizations200ResponseOrganizations"
                      }
                    }
                  },
                  "required": [
                    "organizations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/organizations/:organization": {
      "get": {
        "operationId": "get:organization",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "organization[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "organization[sub_domain]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'organization[]' params are mutually exclusive, only one can be provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns information about a specific organization",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "organization": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  },
                  "required": [
                    "organization"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspended403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/organizations/:organization/policy_limits": {
      "get": {
        "operationId": "get:organization_policy_limits",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "organization[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "organization[sub_domain]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'organization[]' params are mutually exclusive, only one can be provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the computed policy limits for a organization",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "policy_limits": {
                      "$ref": "#/components/schemas/OrganizationPolicy"
                    }
                  },
                  "required": [
                    "policy_limits"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspended403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/organizations/:organization/users_with_access": {
      "get": {
        "operationId": "get:organization_users_with_access",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "organization[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "organization[sub_domain]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This will return a simple list of users with any access to this organization. This\nendpoint is available to all users with access to the organization therefore allows\nthem to see a small amount of information about their peers. This is useful when\ncombined with other API actions that require the ID of a fellow user (such as when\ndetermining which users to assign a virtual machine).\n",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetOrganizationUsersWithAccess200ResponseUsers"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "users"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspended403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/organizations/:organization/managed": {
      "get": {
        "operationId": "get:organization_managed",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "organization[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "organization[sub_domain]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List all managed organizations owned by the given organization",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "organizations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetOrganizationManaged200ResponseOrganizations"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "organizations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspended403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      },
      "post": {
        "operationId": "post:organization_managed",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "organization": {
                    "$ref": "#/components/schemas/OrganizationLookup"
                  },
                  "name": {
                    "type": "string"
                  },
                  "sub_domain": {
                    "type": "string"
                  }
                },
                "required": [
                  "organization",
                  "name",
                  "sub_domain"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a new managed organization within an existing organization",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "organization": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  },
                  "required": [
                    "organization"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspended403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/OrganizationLimitReachedValidationError422Res"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/organizations/:organization/disks": {
      "get": {
        "operationId": "get:organization_disks",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "organization[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The organization to find disks for. All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "organization[sub_domain]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The organization to find disks for. All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return a list of all disks owned by an organization",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "disk": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetOrganizationDisks200ResponseDisk"
                      },
                      "description": "The list of disks"
                    }
                  },
                  "required": [
                    "pagination",
                    "disk"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspended403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/disks/:disk": {
      "get": {
        "operationId": "get:disk",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "disk[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The disk to return. All 'disk[]' params are mutually exclusive, only one can be provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Return details for a specific disk",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "disk": {
                      "description": "The disk details",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/GetDisk200ResponseDisk"
                        }
                      ]
                    }
                  },
                  "required": [
                    "disk"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/DiskNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machines/:virtual_machine/disks": {
      "get": {
        "operationId": "get:virtual_machine_disks",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "virtual_machine[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The virtual machine to find disks for. All 'virtual_machine[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "virtual_machine[fqdn]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The virtual machine to find disks for. All 'virtual_machine[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return a list of all disks for a given virtual machine",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "disks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetVirtualMachineDisks200ResponseDisks"
                      },
                      "description": "The list of disks"
                    }
                  },
                  "required": [
                    "pagination",
                    "disks"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/organizations/:organization/disk_templates": {
      "get": {
        "operationId": "get:organization_disk_templates",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "organization[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The organization to find disk templates for. All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "organization[sub_domain]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The organization to find disk templates for. All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "include_universal",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "Whether or not to include universal templates"
            },
            "description": "Whether or not to include universal templates"
          },
          {
            "name": "operating_system[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "An operating system to use to filter disk templates. All 'operating_system[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return a list of all disk templates owned by an organization",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "disk_templates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetOrganizationDiskTemplates200ResponseDiskTemplates"
                      },
                      "description": "The list of disk templates"
                    }
                  },
                  "required": [
                    "pagination",
                    "disk_templates"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspended403Res"
          },
          "404": {
            "$ref": "#/components/responses/OperatingSystemNotFoundOrganizationNotFound404Res"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/disk_templates/:disk_template": {
      "get": {
        "operationId": "get:disk_template",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "disk_template[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The disk template to return. All 'disk_template[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "disk_template[permalink]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The disk template to return. All 'disk_template[]' params are mutually exclusive, only one can be provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Return details for a specific disk template",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "disk_template": {
                      "description": "The disk template details",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/GetDiskTemplate200ResponseDiskTemplate"
                        }
                      ]
                    }
                  },
                  "required": [
                    "disk_template"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/DiskTemplateNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/disk_templates/:disk_template/versions": {
      "get": {
        "operationId": "get:disk_template_versions",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "disk_template[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The disk template to return the versions for. All 'disk_template[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "disk_template[permalink]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The disk template to return the versions for. All 'disk_template[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return a list of all disk template versions for a specific disk template",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "disk_template": {
                      "$ref": "#/components/schemas/GetDiskTemplateVersions200ResponseDiskTemplate"
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "disk_template_versions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetDiskTemplateVersions200ResponseDiskTemplateVersions"
                      },
                      "description": "The disk template versions for the provided template"
                    }
                  },
                  "required": [
                    "disk_template",
                    "pagination",
                    "disk_template_versions"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/DiskTemplateNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/disk_template_versions/:disk_template_version": {
      "get": {
        "operationId": "get:disk_template_version",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "disk_template_version[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The disk template version to return. All 'disk_template_version[]' params are mutually exclusive, only one can be provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Return details for a specific disk template version",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "disk_template_version": {
                      "description": "The disk template version details",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/GetDiskTemplateVersion200ResponseDiskTemplateVersion"
                        }
                      ]
                    }
                  },
                  "required": [
                    "disk_template_version"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/DiskTemplateVersionNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/disk_template_versions/:disk_template_version/spec": {
      "get": {
        "operationId": "get:disk_template_version_spec",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "disk_template_version[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The disk template version to return. All 'disk_template_version[]' params are mutually exclusive, only one can be provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Return details provided by this template's specification",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "disk_template_version": {
                      "description": "The disk template version details",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/GetDiskTemplateVersionSpec200ResponseDiskTemplateVersion"
                        }
                      ]
                    },
                    "spec": {
                      "$ref": "#/components/schemas/TemplateSpec"
                    }
                  },
                  "required": [
                    "disk_template_version",
                    "spec"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/DiskTemplateVersionNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/gpu_types": {
      "get": {
        "operationId": "get:gpu_types",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provides a full list of all GPU types",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "gpu_types": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetGPUTypes200ResponseGPUTypes"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "gpu_types"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/gpu_types/:gpu_type": {
      "get": {
        "operationId": "get:gpu_type",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "gpu_type[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'gpu_type[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "gpu_type[permalink]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'gpu_type[]' params are mutually exclusive, only one can be provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Provide details for a specific GPU type",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "gpu_type": {
                      "$ref": "#/components/schemas/GetGPUType200ResponseGPUType"
                    }
                  },
                  "required": [
                    "gpu_type"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/GPUTypeNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/data_centers/:data_center/gpu_types": {
      "get": {
        "operationId": "get:data_center_gpu_types",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "data_center[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The data center to list GPU types for. All 'data_center[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "data_center[permalink]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The data center to list GPU types for. All 'data_center[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provides a list of all GPU types available in a given data center",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "gpu_types": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetDataCenterGPUTypes200ResponseGPUTypes"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "gpu_types"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/DataCenterNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/organizations/:organization/virtual_machines": {
      "get": {
        "operationId": "get:organization_virtual_machines",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "organization[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "organization[sub_domain]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all virtual machines for a given organization",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "virtual_machines": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetOrganizationVirtualMachines200ResponseVirtualMachines"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "virtual_machines"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspended403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machines/:virtual_machine": {
      "get": {
        "operationId": "get:virtual_machine",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "virtual_machine[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'virtual_machine[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "virtual_machine[fqdn]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'virtual_machine[]' params are mutually exclusive, only one can be provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Return information about a virtual machine",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "virtual_machine": {
                      "$ref": "#/components/schemas/GetVirtualMachine200ResponseVirtualMachine"
                    }
                  },
                  "required": [
                    "virtual_machine"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      },
      "patch": {
        "operationId": "patch:virtual_machine",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "virtual_machine": {
                    "$ref": "#/components/schemas/VirtualMachineLookup"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/VirtualMachineArguments"
                  }
                },
                "required": [
                  "virtual_machine",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update the properties of a virtual machine",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "virtual_machine": {
                      "description": "The newly updated virtual machine",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PatchVirtualMachine200ResponseVirtualMachine"
                        }
                      ]
                    }
                  },
                  "required": [
                    "virtual_machine"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      },
      "delete": {
        "operationId": "delete:virtual_machine",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "virtual_machine": {
                    "$ref": "#/components/schemas/VirtualMachineLookup"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Moves an existing virtual machine to the trash",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "trash_object": {
                      "$ref": "#/components/schemas/TrashObject"
                    },
                    "virtual_machine": {
                      "$ref": "#/components/schemas/DeleteVirtualMachine200ResponseVirtualMachine"
                    }
                  },
                  "required": [
                    "trash_object",
                    "virtual_machine"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machines/:virtual_machine/package": {
      "put": {
        "operationId": "put:virtual_machine_package",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "virtual_machine": {
                    "$ref": "#/components/schemas/VirtualMachineLookup"
                  },
                  "virtual_machine_package": {
                    "$ref": "#/components/schemas/VirtualMachinePackageLookup"
                  }
                },
                "required": [
                  "virtual_machine",
                  "virtual_machine_package"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Change a package for a virtual machine",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/Task"
                    }
                  },
                  "required": [
                    "task"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineNotFoundVirtualMachinePackageNotFound404Res"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashTaskQueueingError406Res"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machines/:virtual_machine/flexible_resources": {
      "put": {
        "operationId": "put:virtual_machine_flexible_resources",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "virtual_machine": {
                    "$ref": "#/components/schemas/VirtualMachineLookup"
                  },
                  "resources": {
                    "$ref": "#/components/schemas/VirtualMachineFlexibleResources"
                  }
                },
                "required": [
                  "virtual_machine",
                  "resources"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Change the flexible resources assigned to a virtual machine",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/Task"
                    }
                  },
                  "required": [
                    "task"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/FlexibleResourcesUnavailableToOrganizationPermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashTaskQueueingError406Res"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machines/:virtual_machine/allocate_ip": {
      "post": {
        "operationId": "post:virtual_machine_allocate_ip",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "virtual_machine": {
                    "$ref": "#/components/schemas/VirtualMachineLookup"
                  },
                  "ip_address": {
                    "$ref": "#/components/schemas/IPAddressLookup"
                  }
                },
                "required": [
                  "virtual_machine",
                  "ip_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Allocate an IP address to a virtual machine, automatically determining the network interface",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "ip_address": {
                      "description": "The newly allocated IP address",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/IPAddress"
                        }
                      ]
                    }
                  },
                  "required": [
                    "ip_address"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/IPAddressNotFoundVirtualMachineNotFound404Res"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "422": {
            "$ref": "#/components/responses/IPAlreadyAllocatedNoInterfaceAvailable422Res"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machine/authorized_keys": {
      "get": {
        "operationId": "get:virtual_machine_authorized_keys",
        "tags": [
          "Core"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "Return the authorized keys for the virtual machine associated with the provided API token",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/NoVirtualMachineForAPITokenResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/organizations/:organization/virtual_machines/build": {
      "post": {
        "operationId": "post:organization_virtual_machines_build",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "organization": {
                    "$ref": "#/components/schemas/OrganizationLookup"
                  },
                  "zone": {
                    "$ref": "#/components/schemas/ZoneLookup"
                  },
                  "data_center": {
                    "$ref": "#/components/schemas/DataCenterLookup"
                  },
                  "package": {
                    "$ref": "#/components/schemas/VirtualMachinePackageLookup"
                  },
                  "disk_template": {
                    "$ref": "#/components/schemas/DiskTemplateLookup"
                  },
                  "disk_template_options": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/KeyValue"
                    }
                  },
                  "network": {
                    "$ref": "#/components/schemas/NetworkLookup"
                  },
                  "hostname": {
                    "type": "string"
                  }
                },
                "required": [
                  "organization",
                  "package"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Builds a new virtual machine based on the arguments provided to this endpoint. Virtual machines will be built in the background. This task will return an task object that will allow you to monitor the build process using the appropriate API action. This action only offers a small subset of the full functionality needed when provisioning virtual machines - see the `build_from_spec` action for a full advanced virtual machine creation method.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/PostOrganizationVirtualMachinesBuild201ResponseTask"
                    },
                    "build": {
                      "description": "Deprecated, please use \"virtual_machine_build\" instead",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PostOrganizationVirtualMachinesBuild201ResponseBuild"
                        }
                      ]
                    },
                    "virtual_machine_build": {
                      "$ref": "#/components/schemas/PostOrganizationVirtualMachinesBuild201ResponseVirtualMachineBuild"
                    },
                    "hostname": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "task",
                    "build",
                    "virtual_machine_build",
                    "hostname"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedPermissionDeniedResourceCreationRestricted403Res"
          },
          "404": {
            "$ref": "#/components/responses/DataCenterNotFoundVirtualMachinePackageNotFoundZoneNotFound404Res"
          },
          "422": {
            "$ref": "#/components/responses/LocationRequiredValidationError422Res"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/organizations/:organization/virtual_machines/build_from_spec": {
      "post": {
        "operationId": "post:organization_virtual_machines_build_from_spec",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "organization": {
                    "$ref": "#/components/schemas/OrganizationLookup"
                  },
                  "xml": {
                    "type": "string"
                  }
                },
                "required": [
                  "organization",
                  "xml"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Builds a new virtual machine by receiving a virtual machine spec document",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/PostOrganizationVirtualMachinesBuildFromSpec201ResponseTask"
                    },
                    "build": {
                      "description": "Deprecated, please use \"virtual_machine_build\" instead",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PostOrganizationVirtualMachinesBuildFromSpec201ResponseBuild"
                        }
                      ]
                    },
                    "virtual_machine_build": {
                      "$ref": "#/components/schemas/PostOrganizationVirtualMachinesBuildFromSpec201ResponseVirtualMachineBuild"
                    },
                    "hostname": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "task",
                    "build",
                    "virtual_machine_build",
                    "hostname"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidSpecXML400Res"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspendedPermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machines/builds/:virtual_machine_build": {
      "get": {
        "operationId": "get:virtual_machines_builds_virtual_machine_build",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "virtual_machine_build[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'virtual_machine_build[]' params are mutually exclusive, only one can be provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Return virtual machine build information",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "virtual_machine_build": {
                      "$ref": "#/components/schemas/GetVirtualMachinesBuildsVirtualMachineBuild200ResponseVirtualMachineBuild"
                    }
                  },
                  "required": [
                    "virtual_machine_build"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineBuildNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machines/:virtual_machine/start": {
      "post": {
        "operationId": "post:virtual_machine_start",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "virtual_machine": {
                    "$ref": "#/components/schemas/VirtualMachineLookup"
                  }
                },
                "required": [
                  "virtual_machine"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queues a task to start a virtual machine",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/PostVirtualMachineStart200ResponseTask"
                    }
                  },
                  "required": [
                    "task"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashTaskQueueingError406Res"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machines/:virtual_machine/stop": {
      "post": {
        "operationId": "post:virtual_machine_stop",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "virtual_machine": {
                    "$ref": "#/components/schemas/VirtualMachineLookup"
                  }
                },
                "required": [
                  "virtual_machine"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queues a task to stop a virtual machine",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/PostVirtualMachineStop200ResponseTask"
                    }
                  },
                  "required": [
                    "task"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashTaskQueueingError406Res"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machines/:virtual_machine/shutdown": {
      "post": {
        "operationId": "post:virtual_machine_shutdown",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "virtual_machine": {
                    "$ref": "#/components/schemas/VirtualMachineLookup"
                  }
                },
                "required": [
                  "virtual_machine"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queues a task to shutdown a virtual machine",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/PostVirtualMachineShutdown200ResponseTask"
                    }
                  },
                  "required": [
                    "task"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashTaskQueueingError406Res"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machines/:virtual_machine/reset": {
      "post": {
        "operationId": "post:virtual_machine_reset",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "virtual_machine": {
                    "$ref": "#/components/schemas/VirtualMachineLookup"
                  }
                },
                "required": [
                  "virtual_machine"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queues a task to reset a virtual machine",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/PostVirtualMachineReset200ResponseTask"
                    }
                  },
                  "required": [
                    "task"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashTaskQueueingError406Res"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machines/:virtual_machine/console_sessions": {
      "post": {
        "operationId": "post:virtual_machine_console_sessions",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "virtual_machine": {
                    "$ref": "#/components/schemas/VirtualMachineLookup"
                  }
                },
                "required": [
                  "virtual_machine"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Creates a new console session which can be opened in a browser",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "console_session": {
                      "$ref": "#/components/schemas/PostVirtualMachineConsoleSessions201ResponseConsoleSession"
                    }
                  },
                  "required": [
                    "console_session"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashVirtualMachineMustBeStarted406Res"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machine_packages": {
      "get": {
        "operationId": "get:virtual_machine_packages",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "organization[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Provide an organization to only show packages available to the given organization (otherwise only public packages will be displayed). All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "organization[sub_domain]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Provide an organization to only show packages available to the given organization (otherwise only public packages will be displayed). All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of virtual machine packages",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "virtual_machine_packages": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetVirtualMachinePackages200ResponseVirtualMachinePackages"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "virtual_machine_packages"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspended403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machine_packages/:virtual_machine_package": {
      "get": {
        "operationId": "get:virtual_machine_package",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "virtual_machine_package[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'virtual_machine_package[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "virtual_machine_package[permalink]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "All 'virtual_machine_package[]' params are mutually exclusive, only one can be provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Return information about a given virtual machine package",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "virtual_machine_package": {
                      "$ref": "#/components/schemas/VirtualMachinePackage"
                    }
                  },
                  "required": [
                    "virtual_machine_package"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachinePackageNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/organizations/:organization/ssh_keys": {
      "get": {
        "operationId": "get:organization_ssh_keys",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "organization[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The organization to list SSH keys for. All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "organization[sub_domain]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The organization to list SSH keys for. All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all SSH keys for an organization",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "ssh_keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuthSSHKey"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "ssh_keys"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspendedPermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      },
      "post": {
        "operationId": "post:organization_ssh_keys",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "organization": {
                    "$ref": "#/components/schemas/OrganizationLookup"
                  },
                  "ssh_key": {
                    "$ref": "#/components/schemas/AuthSSHKeyProperties"
                  }
                },
                "required": [
                  "organization",
                  "ssh_key"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Add an SSH key to an organization",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "ssh_key": {
                      "$ref": "#/components/schemas/AuthSSHKey"
                    }
                  },
                  "required": [
                    "ssh_key"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspended403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/ssh_keys/:ssh_key": {
      "delete": {
        "operationId": "delete:ssh_key",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "ssh_key": {
                    "$ref": "#/components/schemas/AuthSSHKeyLookup"
                  }
                },
                "required": [
                  "ssh_key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete an SSH key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "ssh_key": {
                      "$ref": "#/components/schemas/AuthSSHKey"
                    }
                  },
                  "required": [
                    "ssh_key"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/SSHKeyNotFoundResponse"
          },
          "409": {
            "$ref": "#/components/responses/DeletionRestrictedResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/organizations/:organization/disk_backup_policies": {
      "get": {
        "operationId": "get:organization_disk_backup_policies",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "organization[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The organization to return disk backup policies for. All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "organization[sub_domain]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The organization to return disk backup policies for. All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all disk backup policies for a given organization",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "disk_backup_policies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetOrganizationDiskBackupPolicies200ResponseDiskBackupPolicies"
                      },
                      "description": "The disk backup policies for the provided organization"
                    }
                  },
                  "required": [
                    "pagination",
                    "disk_backup_policies"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspendedPermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/virtual_machines/:virtual_machine/disk_backup_policies": {
      "get": {
        "operationId": "get:virtual_machine_disk_backup_policies",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "virtual_machine[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The virtual machine to return disk backup policies for. All 'virtual_machine[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "virtual_machine[fqdn]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The virtual machine to return disk backup policies for. All 'virtual_machine[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "include_disks",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "If true, the returned list will include backup policies owned by disks assigned to this virtual machine in addition to those that belong to the whole virtual machine"
            },
            "description": "If true, the returned list will include backup policies owned by disks assigned to this virtual machine in addition to those that belong to the whole virtual machine"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all disk backup policies for a given virtual machine",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "disk_backup_policies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetVirtualMachineDiskBackupPolicies200ResponseDiskBackupPolicies"
                      },
                      "description": "The disk backup policies for the provided virtual machine"
                    }
                  },
                  "required": [
                    "pagination",
                    "disk_backup_policies"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      },
      "post": {
        "operationId": "post:virtual_machine_disk_backup_policies",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "virtual_machine": {
                    "$ref": "#/components/schemas/VirtualMachineLookup"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/DiskBackupPolicyArguments"
                  }
                },
                "required": [
                  "virtual_machine",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Creates a new disk backup policy for a virtual machine",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "disk_backup_policy": {
                      "description": "The new disk backup policy that has been created",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PostVirtualMachineDiskBackupPolicies200ResponseDiskBackupPolicy"
                        }
                      ]
                    }
                  },
                  "required": [
                    "disk_backup_policy"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/disks/:disk/disk_backup_policies": {
      "get": {
        "operationId": "get:disk_disk_backup_policies",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "disk[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The disk to return disk backup policies for. All 'disk[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all disk backup policies for a given disk",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "disk_backup_policies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetDiskDiskBackupPolicies200ResponseDiskBackupPolicies"
                      },
                      "description": "The disk backup policies for the provided disk"
                    }
                  },
                  "required": [
                    "pagination",
                    "disk_backup_policies"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/DiskNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      },
      "post": {
        "operationId": "post:disk_disk_backup_policies",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "disk": {
                    "$ref": "#/components/schemas/DiskLookup"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/DiskBackupPolicyArguments"
                  }
                },
                "required": [
                  "disk",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Creates a new disk backup policy for a disk",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "disk_backup_policy": {
                      "description": "The new disk backup policy that has been created",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PostDiskDiskBackupPolicies200ResponseDiskBackupPolicy"
                        }
                      ]
                    }
                  },
                  "required": [
                    "disk_backup_policy"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/DiskNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      }
    },
    "/disk_backup_policies/:disk_backup_policy": {
      "get": {
        "operationId": "get:disk_backup_policy",
        "tags": [
          "Core"
        ],
        "parameters": [
          {
            "name": "disk_backup_policy[id]",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The disk backup policy to get information for. All 'disk_backup_policy[]' params are mutually exclusive, only one can be provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns information about a specific disk backup policy",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "disk_backup_policy": {
                      "description": "The located disk backup policy",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/GetDiskBackupPolicy200ResponseDiskBackupPolicy"
                        }
                      ]
                    }
                  },
                  "required": [
                    "disk_backup_policy"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/DiskBackupPolicyNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      },
      "delete": {
        "operationId": "delete:disk_backup_policy",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "disk_backup_policy": {
                    "$ref": "#/components/schemas/DiskBackupPolicyLookup"
                  }
                },
                "required": [
                  "disk_backup_policy"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletes a disk backup policy and moves it to the trash",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "disk_backup_policy": {
                      "description": "The disk backup policy that has been destroyed",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/DeleteDiskBackupPolicy200ResponseDiskBackupPolicy"
                        }
                      ]
                    }
                  },
                  "required": [
                    "disk_backup_policy"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/DiskBackupPolicyNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          }
        }
      },
      "patch": {
        "operationId": "patch:disk_backup_policy",
        "tags": [
          "Core"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "disk_backup_policy": {
                    "$ref": "#/components/schemas/DiskBackupPolicyLookup"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/DiskBackupPolicyArguments"
                  }
                },
                "required": [
                  "disk_backup_policy",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updates the disk backup policy with the provided details",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "disk_backup_policy": {
                      "description": "The disk backup policy that has been updated",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PatchDiskBackupPolicy200ResponseDiskBackupPolicy"
                        }
                      ]
                    }
                  },
                  "required": [
[...]
