{
  "openapi": "3.0.0",
  "info": {
    "x-katapult-version": "2.68.0",
    "version": "1.0.0",
    "title": "Katapult Core API",
    "description": "Welcome to the documentation for the Katapult Core API"
  },
  "externalDocs": {
    "description": "Katapult API Documentation",
    "url": "https://docs.katapult.io/docs/category/core-api"
  },
  "servers": [
    {
      "url": "https://api.katapult.io/core/v1"
    }
  ],
  "paths": {
    "/organizations/organization/api_tokens": {
      "get": {
        "operationId": "get:organization_api_tokens",
        "summary": "List organization API tokens",
        "description": "Returns a list of all API tokens for an organization\n## Scopes\n- `api_tokens`\n- `api_tokens:read`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "API tokens"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/api_tokens",
              "api.katapult.io/core/v1/api_tokens:read"
            ]
          },
          {
            "Authenticator": [
              "api_tokens",
              "api_tokens:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization[id]",
            "schema": {
              "type": "string"
            },
            "description": "The organization to list API tokens for. \n\n All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "in": "query",
            "name": "organization[sub_domain]",
            "schema": {
              "type": "string"
            },
            "description": "The organization to list API tokens for. \n\n All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "in": "query",
            "name": "annotations[][key]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "An array of annotations to filter by. \n\n All `annotations[]` params should have the same amount of elements."
          },
          {
            "in": "query",
            "name": "annotations[][value]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "An array of annotations to filter by. \n\n All `annotations[]` params should have the same amount of elements."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number to request. If not provided, the first page will be returned."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1
            },
            "description": "The number of items to return per page. If not provided, the default value will be used."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all API tokens for an organization",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "api_tokens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/APIToken"
                      }
                    }
                  },
                  "required": [
                    "pagination",
                    "api_tokens"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspendedPermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      },
      "post": {
        "operationId": "post:organization_api_tokens",
        "summary": "Create API token for organization",
        "description": "Create a new API token for a given organization\n## Scopes\n- `api_tokens`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "API tokens"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/api_tokens"
            ]
          },
          {
            "Authenticator": [
              "api_tokens"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "organization": {
                    "$ref": "#/components/schemas/OrganizationLookup"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/APITokenArguments"
                  },
                  "annotations": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/KeyValue"
                    }
                  }
                },
                "required": [
                  "organization",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create a new API token for a given organization",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "api_token": {
                      "description": "The API token that has been created",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/APIToken"
                        }
                      ]
                    },
                    "annotations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KeyValue"
                      },
                      "description": "Annotations for this API token"
                    }
                  },
                  "required": [
                    "api_token",
                    "annotations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspendedPermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/api_tokens/api_token": {
      "patch": {
        "operationId": "patch:api_token",
        "summary": "Update organization API token",
        "description": "Updates an organization API token with new properties\n## Scopes\n- `api_tokens`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "API tokens"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/api_tokens"
            ]
          },
          {
            "Authenticator": [
              "api_tokens"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "api_token": {
                    "$ref": "#/components/schemas/APITokenLookup"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/APITokenArguments"
                  },
                  "annotations": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/KeyValue"
                    }
                  }
                },
                "required": [
                  "api_token",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updates an organization API token with new properties",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "api_token": {
                      "description": "The API token that has been updated",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/APIToken"
                        }
                      ]
                    },
                    "annotations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KeyValue"
                      },
                      "description": "Annotations for this API token"
                    }
                  },
                  "required": [
                    "api_token",
                    "annotations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/APITokenNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      },
      "delete": {
        "operationId": "delete:api_token",
        "summary": "Delete organization API token",
        "description": "Delete an organization API token\n## Scopes\n- `api_tokens`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "API tokens"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/api_tokens"
            ]
          },
          {
            "Authenticator": [
              "api_tokens"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "api_token": {
                    "$ref": "#/components/schemas/APITokenLookup"
                  }
                },
                "required": [
                  "api_token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete an organization API token",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "api_token": {
                      "description": "The API token that has been destroyed",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/DeleteAPIToken200ResponseAPIToken"
                        }
                      ]
                    }
                  },
                  "required": [
                    "api_token"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/APITokenNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/api_tokens/api_token/regenerate_secret": {
      "post": {
        "operationId": "post:api_token_regenerate_secret",
        "summary": "Regenerate organization API token secret",
        "description": "Regenerates the secret for an organization API token\n## Scopes\n- `api_tokens`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "API tokens"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/api_tokens"
            ]
          },
          {
            "Authenticator": [
              "api_tokens"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "api_token": {
                    "$ref": "#/components/schemas/APITokenLookup"
                  }
                },
                "required": [
                  "api_token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Regenerates the secret for an organization API token",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "api_token": {
                      "description": "The API token that has had its secret regenerated",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/APIToken"
                        }
                      ]
                    }
                  },
                  "required": [
                    "api_token"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/APITokenNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/organizations/organization/object_storage/object_storage_cluster/access_keys": {
      "post": {
        "operationId": "post:organization_object_storage_object_storage_cluster_access_keys",
        "summary": "Create object storage access key",
        "description": "Create a new access key in an object storage account\n## Scopes\n- `object_storage`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Access keys"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/object_storage"
            ]
          },
          {
            "Authenticator": [
              "object_storage"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "organization": {
                    "$ref": "#/components/schemas/OrganizationLookup"
                  },
                  "object_storage_cluster": {
                    "$ref": "#/components/schemas/ObjectStorageClusterLookup"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/ObjectStorageAccessKeyArguments"
                  }
                },
                "required": [
                  "organization",
                  "object_storage_cluster",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a new access key in an object storage account",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "object_storage_access_key": {
                      "$ref": "#/components/schemas/ObjectStorageAccessKey"
                    }
                  },
                  "required": [
                    "object_storage_access_key"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/ObjectStorageAccountNotProvisionedOrganizationSuspendedPermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/ObjectStorageAccountNotFoundObjectStorageClusterNotFoundOrganizationNotFound404Res"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/organizations/organization/object_storage/access_keys": {
      "get": {
        "operationId": "get:organization_object_storage_access_keys",
        "summary": "List object storage access keys",
        "description": "Returns a list of all object storage access keys for a given organization\n## Scopes\n- `object_storage`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Access keys"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/object_storage"
            ]
          },
          {
            "Authenticator": [
              "object_storage"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization[id]",
            "schema": {
              "type": "string"
            },
            "description": "The organization to return access keys for. \n\n All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "in": "query",
            "name": "organization[sub_domain]",
            "schema": {
              "type": "string"
            },
            "description": "The organization to return access keys for. \n\n All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number to request. If not provided, the first page will be returned."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1
            },
            "description": "The number of items to return per page. If not provided, the default value will be used."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all object storage access keys for a given organization",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "object_storage_access_keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ObjectStorageAccessKey"
                      },
                      "description": "The object storage access keys for the organization"
                    }
                  },
                  "required": [
                    "pagination",
                    "object_storage_access_keys"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspendedPermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/object_storage/access_keys/access_key/generate_credentials": {
      "post": {
        "operationId": "post:object_storage_access_key_generate_credentials",
        "summary": "Generate object storage S3 access key credentials",
        "description": "Returns new S3 credentials for an object storage access key. Existing credentials cannot be retrieved. Credentials may take a few minutes to become active.\n## Scopes\n- `object_storage`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Access keys"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/object_storage"
            ]
          },
          {
            "Authenticator": [
              "object_storage"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "access_key": {
                    "$ref": "#/components/schemas/ObjectStorageAccessKeyLookup"
                  }
                },
                "required": [
                  "access_key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns new S3 credentials for an object storage access key. Existing credentials cannot be retrieved. Credentials may take a few minutes to become active.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "object_storage_access_key": {
                      "description": "The object storage access key with newly generated credentials",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ObjectStorageAccessKey"
                        }
                      ]
                    }
                  },
                  "required": [
                    "object_storage_access_key"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/ObjectStorageAccessKeyNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/TaskQueueingErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/ObjectStorageProvisioningErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/object_storage/access_keys/access_key": {
      "get": {
        "operationId": "get:object_storage_access_key",
        "summary": "Get object storage access key details",
        "description": "Returns object storage access key details.\n## Scopes\n- `object_storage`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Access keys"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/object_storage"
            ]
          },
          {
            "Authenticator": [
              "object_storage"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "access_key[id]",
            "schema": {
              "type": "string"
            },
            "description": "The object storage access key to find."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns object storage access key details.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "object_storage_access_key": {
                      "$ref": "#/components/schemas/ObjectStorageAccessKey"
                    }
                  },
                  "required": [
                    "object_storage_access_key"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/ObjectStorageAccessKeyNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      },
      "patch": {
        "operationId": "patch:object_storage_access_key",
        "summary": "Update object storage access key",
        "description": "Updates an object storage access key with new properties\n## Scopes\n- `object_storage`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Access keys"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/object_storage"
            ]
          },
          {
            "Authenticator": [
              "object_storage"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "access_key": {
                    "$ref": "#/components/schemas/ObjectStorageAccessKeyLookup"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/ObjectStorageAccessKeyArguments"
                  }
                },
                "required": [
                  "access_key",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updates an object storage access key with new properties",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "object_storage_access_key": {
                      "description": "The new properties for the object storage access key",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ObjectStorageAccessKey"
                        }
                      ]
                    }
                  },
                  "required": [
                    "object_storage_access_key"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/ObjectStorageAccessKeyNotFoundResponse"
          },
          "406": {
            "$ref": "#/components/responses/TaskQueueingErrorResponse"
          },
          "422": {
            "$ref": "#/components/responses/ObjectStorageProvisioningErrorValidationError422Res"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      },
      "delete": {
        "operationId": "delete:object_storage_access_key",
        "summary": "Delete object storage access key",
        "description": "Delete an object storage access key\n## Scopes\n- `object_storage`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Access keys"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/object_storage"
            ]
          },
          {
            "Authenticator": [
              "object_storage"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "access_key": {
                    "$ref": "#/components/schemas/ObjectStorageAccessKeyLookup"
                  }
                },
                "required": [
                  "access_key"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete an object storage access key",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/ObjectStorageAccessKeyNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          },
          "504": {
            "$ref": "#/components/responses/NetworkErrorResponse"
          }
        }
      }
    },
    "/address_lists/address_list/entries": {
      "get": {
        "operationId": "get:address_list_entries",
        "summary": "List address list entries",
        "description": "Returns a list of all address list entries for a given address list\n## Scopes\n- `address_lists`\n- `address_lists:read`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Address list entries"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/address_lists",
              "api.katapult.io/core/v1/address_lists:read"
            ]
          },
          {
            "Authenticator": [
              "address_lists",
              "address_lists:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "address_list[id]",
            "schema": {
              "type": "string"
            },
            "description": "The address list for which the entries should be returned."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number to request. If not provided, the first page will be returned."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1
            },
            "description": "The number of items to return per page. If not provided, the default value will be used."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all address list entries for a given address list",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "address_list_entries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AddressListEntry"
                      },
                      "description": "A list of all address list entries for the given address list."
                    }
                  },
                  "required": [
                    "pagination",
                    "address_list_entries"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/AddressListNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      },
      "post": {
        "operationId": "post:address_list_entries",
        "summary": "Create address list entry",
        "description": "Create a new address list entry for a given address list.\n## Scopes\n- `address_lists`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Address list entries"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/address_lists"
            ]
          },
          {
            "Authenticator": [
              "address_lists"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "address_list": {
                    "$ref": "#/components/schemas/AddressListLookup"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/AddressListEntryArguments"
                  }
                },
                "required": [
                  "address_list",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a new address list entry for a given address list.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "address_list_entry": {
                      "description": "The address list entry.",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/AddressListEntry"
                        }
                      ]
                    }
                  },
                  "required": [
                    "address_list_entry"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/AddressListNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/address_list_entries/address_list_entry": {
      "get": {
        "operationId": "get:address_list_entry",
        "summary": "Get address list entry",
        "description": "Returns details for an address list entry.\n## Scopes\n- `address_lists`\n- `address_lists:read`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Address list entries"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/address_lists",
              "api.katapult.io/core/v1/address_lists:read"
            ]
          },
          {
            "Authenticator": [
              "address_lists",
              "address_lists:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "address_list_entry[id]",
            "schema": {
              "type": "string"
            },
            "description": "The address list entry to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns details for an address list entry.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "address_list_entry": {
                      "description": "The address list entry.",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/AddressListEntry"
                        }
                      ]
                    }
                  },
                  "required": [
                    "address_list_entry"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/AddressListEntryNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      },
      "patch": {
        "operationId": "patch:address_list_entry",
        "summary": "Update address list entry",
        "description": "Update an address list entry with new properties.\n## Scopes\n- `address_lists`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Address list entries"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/address_lists"
            ]
          },
          {
            "Authenticator": [
              "address_lists"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "address_list_entry": {
                    "$ref": "#/components/schemas/AddressListEntryLookup"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/AddressListEntryArguments"
                  }
                },
                "required": [
                  "address_list_entry",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update an address list entry with new properties.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "address_list_entry": {
                      "description": "The address list entry.",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/AddressListEntry"
                        }
                      ]
                    }
                  },
                  "required": [
                    "address_list_entry"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/AddressListEntryNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      },
      "delete": {
        "operationId": "delete:address_list_entry",
        "summary": "Delete address list entry",
        "description": "Delete an address list entry.\n## Scopes\n- `address_lists`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Address list entries"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/address_lists"
            ]
          },
          {
            "Authenticator": [
              "address_lists"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "address_list_entry": {
                    "$ref": "#/components/schemas/AddressListEntryLookup"
                  }
                },
                "required": [
                  "address_list_entry"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete an address list entry.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "address_list_entry": {
                      "description": "The address list entry that has been destroyed.",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/AddressListEntry"
                        }
                      ]
                    }
                  },
                  "required": [
                    "address_list_entry"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/AddressListEntryNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/address_lists/address_list/entries/bulk": {
      "post": {
        "operationId": "post:address_list_entries_bulk",
        "summary": "Bulk change address list entries",
        "description": "Create or delete multiple address list entries for a given address list.\n## Scopes\n- `address_lists`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Address list entries"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/address_lists"
            ]
          },
          {
            "Authenticator": [
              "address_lists"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "address_list": {
                    "$ref": "#/components/schemas/AddressListLookup"
                  },
                  "add": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AddressListEntryArguments"
                    }
                  },
                  "remove": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AddressListEntryArguments"
                    }
                  }
                },
                "required": [
                  "address_list"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create or delete multiple address list entries for a given address list.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {

                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/AddressListNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/address_lists": {
      "get": {
        "operationId": "get:address_lists",
        "summary": "List global address lists",
        "description": "Returns a list of all global address lists.\n## Scopes\n- `address_lists`\n- `address_lists:read`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Address lists"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/address_lists",
              "api.katapult.io/core/v1/address_lists:read"
            ]
          },
          {
            "Authenticator": [
              "address_lists",
              "address_lists:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number to request. If not provided, the first page will be returned."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1
            },
            "description": "The number of items to return per page. If not provided, the default value will be used."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all global address lists.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "address_lists": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetAddressLists200ResponseAddressLists"
                      },
                      "description": "A list of all global address lists."
                    }
                  },
                  "required": [
                    "pagination",
                    "address_lists"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/organizations/organization/address_lists": {
      "get": {
        "operationId": "get:organization_address_lists",
        "summary": "List address lists",
        "description": "Returns a list of all address lists for a given organization\n## Scopes\n- `address_lists`\n- `address_lists:read`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Address lists"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/address_lists",
              "api.katapult.io/core/v1/address_lists:read"
            ]
          },
          {
            "Authenticator": [
              "address_lists",
              "address_lists:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization[id]",
            "schema": {
              "type": "string"
            },
            "description": "The organization for which the address lists should be returned. \n\n All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "in": "query",
            "name": "organization[sub_domain]",
            "schema": {
              "type": "string"
            },
            "description": "The organization for which the address lists should be returned. \n\n All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "in": "query",
            "name": "annotations[][key]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "An array of annotations to filter by. \n\n All `annotations[]` params should have the same amount of elements."
          },
          {
            "in": "query",
            "name": "annotations[][value]",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "An array of annotations to filter by. \n\n All `annotations[]` params should have the same amount of elements."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "The page number to request. If not provided, the first page will be returned."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 30,
              "minimum": 1
            },
            "description": "The number of items to return per page. If not provided, the default value will be used."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of all address lists for a given organization",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationObject"
                    },
                    "address_lists": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GetOrganizationAddressLists200ResponseAddressLists"
                      },
                      "description": "A list of all address lists for the given organization."
                    }
                  },
                  "required": [
                    "pagination",
                    "address_lists"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspendedPermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      },
      "post": {
        "operationId": "post:organization_address_lists",
        "summary": "Create address list",
        "description": "Create a new address list for a given organization.\n## Scopes\n- `address_lists`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Address lists"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/address_lists"
            ]
          },
          {
            "Authenticator": [
              "address_lists"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "organization": {
                    "$ref": "#/components/schemas/OrganizationLookup"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/AddressListArguments"
                  },
                  "annotations": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/KeyValue"
                    }
                  }
                },
                "required": [
                  "organization",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a new address list for a given organization.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "address_list": {
                      "description": "The address list.",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/AddressList"
                        }
                      ]
                    },
                    "annotations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KeyValue"
                      }
                    }
                  },
                  "required": [
                    "address_list",
                    "annotations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspendedPermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/address_lists/address_list": {
      "get": {
        "operationId": "get:address_list",
        "summary": "Get address list",
        "description": "Returns details for a address list.\n## Scopes\n- `address_lists`\n- `address_lists:read`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Address lists"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/address_lists",
              "api.katapult.io/core/v1/address_lists:read"
            ]
          },
          {
            "Authenticator": [
              "address_lists",
              "address_lists:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "address_list[id]",
            "schema": {
              "type": "string"
            },
            "description": "The address list to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns details for a address list.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "address_list": {
                      "description": "The address list.",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/AddressList"
                        }
                      ]
                    },
                    "annotations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KeyValue"
                      }
                    }
                  },
                  "required": [
                    "address_list",
                    "annotations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/AddressListNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      },
      "patch": {
        "operationId": "patch:address_list",
        "summary": "Update address list",
        "description": "Update a address list with new properties.\n## Scopes\n- `address_lists`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Address lists"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/address_lists"
            ]
          },
          {
            "Authenticator": [
              "address_lists"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "address_list": {
                    "$ref": "#/components/schemas/AddressListLookup"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/AddressListArguments"
                  },
                  "annotations": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/KeyValue"
                    }
                  }
                },
                "required": [
                  "address_list",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update a address list with new properties.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "address_list": {
                      "description": "The address list.",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/AddressList"
                        }
                      ]
                    },
                    "annotations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KeyValue"
                      }
                    }
                  },
                  "required": [
                    "address_list",
                    "annotations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/AddressListNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      },
      "delete": {
        "operationId": "delete:address_list",
        "summary": "Delete address list",
        "description": "Delete a address list.\n## Scopes\n- `address_lists`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Address lists"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/address_lists"
            ]
          },
          {
            "Authenticator": [
              "address_lists"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "address_list": {
                    "$ref": "#/components/schemas/AddressListLookup"
                  }
                },
                "required": [
                  "address_list"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete a address list.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "address_list": {
                      "description": "The address list that has been destroyed.",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/AddressList"
                        }
                      ]
                    }
                  },
                  "required": [
                    "address_list"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/AddressListNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/organizations/organization/object_storage/object_storage_cluster/buckets": {
      "post": {
        "operationId": "post:organization_object_storage_object_storage_cluster_buckets",
        "summary": "Create object storage bucket",
        "description": "Create a new bucket in an object storage account\n## Scopes\n- `object_storage`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Buckets"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/object_storage"
            ]
          },
          {
            "Authenticator": [
              "object_storage"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "organization": {
                    "$ref": "#/components/schemas/OrganizationLookup"
                  },
                  "object_storage_cluster": {
                    "$ref": "#/components/schemas/ObjectStorageClusterLookup"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/ObjectStorageBucketArguments"
                  }
                },
                "required": [
                  "organization",
                  "object_storage_cluster",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create a new bucket in an object storage account",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "object_storage_bucket": {
                      "$ref": "#/components/schemas/ObjectStorageBucket"
                    }
                  },
                  "required": [
                    "object_storage_bucket"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/ObjectStorageAccountNotProvisionedOrganizationSuspendedPermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/ObjectStorageAccountNotFoundObjectStorageClusterNotFoundOrganizationNotFound404Res"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/object_storage/object_storage_cluster/buckets/bucket": {
      "patch": {
        "operationId": "patch:object_storage_object_storage_cluster_bucket",
        "summary": "Update object storage bucket",
        "description": "Configure an object storage bucket with new properties\n## Scopes\n- `object_storage`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Buckets"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/object_storage"
            ]
          },
          {
            "Authenticator": [
              "object_storage"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "object_storage_cluster": {
                    "$ref": "#/components/schemas/ObjectStorageClusterLookup"
                  },
                  "bucket": {
                    "$ref": "#/components/schemas/ObjectStorageBucketLookup"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/ObjectStorageBucketArguments"
                  }
                },
                "required": [
                  "object_storage_cluster",
                  "bucket",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configure an object storage bucket with new properties",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "object_storage_bucket": {
                      "$ref": "#/components/schemas/ObjectStorageBucket"
                    }
                  },
                  "required": [
                    "object_storage_bucket"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/ObjectStorageBucketNotFoundObjectStorageClusterNotFound404Res"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "500": {
            "$ref": "#/components/responses/MultipleObjectStorageBucketsFoundResponse"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      },
      "delete": {
        "operationId": "delete:object_storage_object_storage_cluster_bucket",
        "summary": "Delete object storage bucket",
        "description": "Delete an object storage bucket\n## Scopes\n- `object_storage`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Buckets"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/object_storage"
            ]
          },
          {
            "Authenticator": [
              "object_storage"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "object_storage_cluster": {
                    "$ref": "#/components/schemas/ObjectStorageClusterLookup"
                  },
                  "bucket": {
                    "$ref": "#/components/schemas/ObjectStorageBucketLookup"
                  }
                },
                "required": [
                  "object_storage_cluster",
                  "bucket"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete an object storage bucket",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/ObjectStorageBucketDeletionErrorPermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/ObjectStorageBucketNotFoundObjectStorageClusterNotFound404Res"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "500": {
            "$ref": "#/components/responses/MultipleObjectStorageBucketsFoundResponse"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          },
          "504": {
            "$ref": "#/components/responses/NetworkErrorResponse"
          }
        }
      },
      "get": {
        "operationId": "get:object_storage_object_storage_cluster_bucket",
        "summary": "Get an object storage bucket",
        "description": "Returns object storage bucket details\n## Scopes\n- `object_storage:read`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Buckets"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/object_storage:read"
            ]
          },
          {
            "Authenticator": [
              "object_storage:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "object_storage_cluster[region]",
            "schema": {
              "type": "string"
            },
            "description": "The object storage cluster region for the bucket."
          },
          {
            "in": "query",
            "name": "bucket[name]",
            "schema": {
              "type": "string"
            },
            "description": "The name of the object storage bucket."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns object storage bucket details",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "object_storage_bucket": {
                      "$ref": "#/components/schemas/ObjectStorageBucket"
                    }
                  },
                  "required": [
                    "object_storage_bucket"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/ObjectStorageBucketNotFoundObjectStorageClusterNotFound404Res"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "500": {
            "$ref": "#/components/responses/MultipleObjectStorageBucketsFoundResponse"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/object_storage/object_storage_cluster/buckets/bucket/revoke_presigned_urls": {
      "post": {
        "operationId": "post:object_storage_object_storage_cluster_bucket_revoke_presigned_urls",
        "summary": "Revoke object storage bucket presigned URLs",
        "description": "Revoke presigned URLs for all objects within an object storage bucket\n## Scopes\n- `object_storage`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Buckets"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/object_storage"
            ]
          },
          {
            "Authenticator": [
              "object_storage"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "object_storage_cluster": {
                    "$ref": "#/components/schemas/ObjectStorageClusterLookup"
                  },
                  "bucket": {
                    "$ref": "#/components/schemas/ObjectStorageBucketLookup"
                  }
                },
                "required": [
                  "object_storage_cluster",
                  "bucket"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revoke presigned URLs for all objects within an object storage bucket",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/ObjectStorageBucketNotFoundObjectStorageClusterNotFound404Res"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "500": {
            "$ref": "#/components/responses/MultipleObjectStorageBucketsFoundResponse"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          },
          "504": {
            "$ref": "#/components/responses/NetworkErrorResponse"
          }
        }
      }
    },
    "/object_storage/object_storage_cluster/buckets/bucket/object": {
      "get": {
        "operationId": "get:object_storage_object_storage_cluster_bucket_object",
        "summary": "Get an object storage object",
        "description": "Returns object storage object details\n## Scopes\n- `object_storage:read`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Buckets"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/object_storage:read"
            ]
          },
          {
            "Authenticator": [
              "object_storage:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "object_storage_cluster[region]",
            "schema": {
              "type": "string"
            },
            "description": "The object storage cluster region for the bucket."
          },
          {
            "in": "query",
            "name": "bucket[name]",
            "schema": {
              "type": "string"
            },
            "description": "The name of the object storage bucket."
          },
          {
            "name": "path",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "The name or path for the object"
            },
            "description": "The name or path for the object",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns object storage object details",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "object_details": {
                      "$ref": "#/components/schemas/ObjectStorageObject"
                    }
                  },
                  "required": [
                    "object_details"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/ObjectNotFoundObjectStorageBucketNotFoundObjectStorageClusterNotFound404Res"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "500": {
            "$ref": "#/components/responses/MultipleObjectStorageBucketsFoundResponse"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          },
          "504": {
            "$ref": "#/components/responses/NetworkErrorResponse"
          }
        }
      }
    },
    "/object_storage/object_storage_cluster/buckets/bucket/presigned_url": {
      "post": {
        "operationId": "post:object_storage_object_storage_cluster_bucket_presigned_url",
        "summary": "Create a presigned url for an object storage object",
        "description": "Returns temporary url to download the object storage object\n## Scopes\n- `object_storage`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Buckets"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/object_storage"
            ]
          },
          {
            "Authenticator": [
              "object_storage"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "object_storage_cluster": {
                    "$ref": "#/components/schemas/ObjectStorageClusterLookup"
                  },
                  "bucket": {
                    "$ref": "#/components/schemas/ObjectStorageBucketLookup"
                  },
                  "path": {
                    "type": "string",
                    "description": "The name or path for the object"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/ObjectStorageObjectPresignedURLArguments"
                  }
                },
                "required": [
                  "object_storage_cluster",
                  "bucket",
                  "path",
                  "properties"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns temporary url to download the object storage object",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "url"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/ObjectStorageBucketNotFoundObjectStorageClusterNotFound404Res"
          },
          "406": {
            "$ref": "#/components/responses/ObjectInTrashResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "500": {
            "$ref": "#/components/responses/MultipleObjectStorageBucketsFoundResponse"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          },
          "504": {
            "$ref": "#/components/responses/NetworkErrorResponse"
          }
        }
      }
    },
    "/organizations/organization/virtual_machines/build": {
      "post": {
        "operationId": "post:organization_virtual_machines_build",
        "summary": "Build virtual machine",
        "description": "Builds a new virtual machine based on the arguments provided to this endpoint. Virtual machines will be built in the background. This task will return an task object that will allow you to monitor the build process using the appropriate API action. This action only offers a small subset of the full functionality needed when provisioning virtual machines - see the `build_from_spec` action for a full advanced virtual machine creation method.\n## Scopes\n- `virtual_machines`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Build"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/virtual_machines"
            ]
          },
          {
            "Authenticator": [
              "virtual_machines"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "organization": {
                    "$ref": "#/components/schemas/OrganizationLookup"
                  },
                  "zone": {
                    "$ref": "#/components/schemas/ZoneLookup"
                  },
                  "data_center": {
                    "$ref": "#/components/schemas/DataCenterLookup"
                  },
                  "package": {
                    "$ref": "#/components/schemas/VirtualMachinePackageLookup"
                  },
                  "disk_template": {
                    "$ref": "#/components/schemas/DiskTemplateLookup"
                  },
                  "disk_template_options": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/KeyValue"
                    }
                  },
                  "disks": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/VirtualMachineBuildDiskArguments"
                    }
                  },
                  "network": {
                    "$ref": "#/components/schemas/NetworkLookup"
                  },
                  "hostname": {
                    "type": "string"
                  },
                  "annotations": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/KeyValue"
                    }
                  }
                },
                "required": [
                  "organization",
                  "package"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Builds a new virtual machine based on the arguments provided to this endpoint. Virtual machines will be built in the background. This task will return an task object that will allow you to monitor the build process using the appropriate API action. This action only offers a small subset of the full functionality needed when provisioning virtual machines - see the `build_from_spec` action for a full advanced virtual machine creation method.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/PostOrganizationVirtualMachinesBuild201ResponseTask"
                    },
                    "build": {
                      "description": "Deprecated, please use \"virtual_machine_build\" instead",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PostOrganizationVirtualMachinesBuild201ResponseBuild"
                        }
                      ]
                    },
                    "virtual_machine_build": {
                      "$ref": "#/components/schemas/PostOrganizationVirtualMachinesBuild201ResponseVirtualMachineBuild"
                    },
                    "hostname": {
                      "type": "string"
                    },
                    "annotations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KeyValue"
                      }
                    }
                  },
                  "required": [
                    "task",
                    "build",
                    "virtual_machine_build",
                    "hostname",
                    "annotations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedPermissionDeniedResourceCreationRestricted403Res"
          },
          "404": {
            "$ref": "#/components/responses/DataCenterNotFoundVirtualMachinePackageNotFoundZoneNotFound404Res"
          },
          "422": {
            "$ref": "#/components/responses/LocationRequiredOneSystemDiskRequiredValidationError422Res"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/organizations/organization/virtual_machines/build_from_spec": {
      "post": {
        "operationId": "post:organization_virtual_machines_build_from_spec",
        "summary": "Build virtual machine (from spec)",
        "description": "Builds a new virtual machine by receiving a virtual machine spec document\n## Scopes\n- `virtual_machines`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Build"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/virtual_machines"
            ]
          },
          {
            "Authenticator": [
              "virtual_machines"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "organization": {
                    "$ref": "#/components/schemas/OrganizationLookup"
                  },
                  "xml": {
                    "type": "string"
                  },
                  "annotations": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/KeyValue"
                    }
                  }
                },
                "required": [
                  "organization",
                  "xml"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Builds a new virtual machine by receiving a virtual machine spec document",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "task": {
                      "$ref": "#/components/schemas/PostOrganizationVirtualMachinesBuildFromSpec201ResponseTask"
                    },
                    "build": {
                      "description": "Deprecated, please use \"virtual_machine_build\" instead",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PostOrganizationVirtualMachinesBuildFromSpec201ResponseBuild"
                        }
                      ]
                    },
                    "virtual_machine_build": {
                      "$ref": "#/components/schemas/PostOrganizationVirtualMachinesBuildFromSpec201ResponseVirtualMachineBuild"
                    },
                    "hostname": {
                      "type": "string"
                    },
                    "annotations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KeyValue"
                      }
                    }
                  },
                  "required": [
                    "task",
                    "build",
                    "virtual_machine_build",
                    "hostname",
                    "annotations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidSpecXML400Res"
          },
          "403": {
            "$ref": "#/components/responses/OrganizationNotActivatedOrganizationSuspendedPermissionDenied403Res"
          },
          "404": {
            "$ref": "#/components/responses/OrganizationNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationErrorResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/virtual_machines/builds/virtual_machine_build": {
      "get": {
        "operationId": "get:virtual_machines_builds_virtual_machine_build",
        "summary": "Get virtual machine build",
        "description": "Return virtual machine build information\n## Scopes\n- `virtual_machines`\n- `virtual_machines:read`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Build"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/virtual_machines",
              "api.katapult.io/core/v1/virtual_machines:read"
            ]
          },
          {
            "Authenticator": [
              "virtual_machines",
              "virtual_machines:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "virtual_machine_build[id]",
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Return virtual machine build information",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "virtual_machine_build": {
                      "$ref": "#/components/schemas/GetVirtualMachinesBuildsVirtualMachineBuild200ResponseVirtualMachineBuild"
                    },
                    "annotations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KeyValue"
                      }
                    }
                  },
                  "required": [
                    "virtual_machine_build",
                    "annotations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/APIAuthenticator400Response"
          },
          "403": {
            "$ref": "#/components/responses/APIAuthenticator403Response"
          },
          "404": {
            "$ref": "#/components/responses/VirtualMachineBuildNotFoundResponse"
          },
          "429": {
            "$ref": "#/components/responses/APIAuthenticator429Response"
          },
          "503": {
            "$ref": "#/components/responses/APIAuthenticator503Response"
          }
        }
      }
    },
    "/organizations/organization/certificates": {
      "get": {
        "operationId": "get:organization_certificates",
        "summary": "List certificates",
        "description": "Provides a full list of certificates\n## Scopes\n- `certificates`\n- `certificates:read`\n\n### OAuth2 Scopes\nWhen using OAuth2 authentication, scopes are prefixed with `api.katapult.io/core/v1/`.\n",
        "tags": [
          "Certificates"
        ],
        "security": [
          {
            "OAuth2": [
              "api.katapult.io/core/v1/certificates",
              "api.katapult.io/core/v1/certificates:read"
            ]
          },
          {
            "Authenticator": [
              "certificates",
              "certificates:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "organization[id]",
            "schema": {
              "type": "string"
            },
            "description": "All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "in": "query",
            "name": "organization[sub_domain]",
            "schema": {
              "type": "string"
            },
            "description": "All 'organization[]' params are mutually exclusive, only one can be provided."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
[...]
